.flex-item {
    background: rgb(214, 138, 242);
    min-width:50px;
    min-height:50px;
    border:2px solid black
}

.flex-container {
    display:flex;
    justify-content:space-evenly;
    align-items:stretch;

    border: 2px solid rgb(96, 136, 237);
    height:200px;
}
/* You can change the direction back to column, but it means the MAIN AXIS switches */
.flex-container-col {
    display: flex;
    flex-direction:column;
    justify-content: space-evenly;
    align-items: center;

    border:2px solid rgb(44, 199, 44);
    height: 200px;
}
#special{
    flex-grow: 1;
}
